{% spaceless %}
<!DOCTYPE html>
<html class="no-js">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}{% endblock %}</title>

      <link rel="favicon" type="x-icon" href="{{ asset('favicon.ico') }}">

      <link rel="apple-touch-icon-precomposed" href="{{ asset('top-hat-152.png') }}">

      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="{{ asset('top-hat-144.png') }}">

      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('top-hat-152.png') }}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('top-hat-144.png') }}">
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('top-hat-120.png') }}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('top-hat-114.png') }}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('top-hat-72.png') }}">
      <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('top-hat-57.png') }}">

      <link rel="icon" sizes="64x64" href="{{ asset('top-hat-64.png') }}">
      <link rel="icon" sizes="48x48" href="{{ asset('top-hat-48.png') }}">
      <link rel="icon" sizes="32x32" href="{{ asset('top-hat-32.png') }}">
      <link rel="icon" sizes="24x24" href="{{ asset('top-hat-24.png') }}">
      <link rel="icon" sizes="16x16" href="{{ asset('top-hat-16.png') }}">
      
      <link rel="stylesheet" href="{{ asset('bundles/fancyguyweb/css/normalize.min.css') }}">
      <link rel="stylesheet" href="{{ asset('bundles/fancyguyweb/css/main.css') }}">
    {% endblock %}	  
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
{% endspaceless %}
