{% extends 'FancyGuyWebBundle::base.html.twig' %}

{% block body %}
  {% block browsehappy %}
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  {% endblock %}
  {% block header %}
    <div class="header-container">
      <header class="wrapper clearfix">
	<h1 class="title">{{ site_name }}</h1>
	<nav>
	  {% block headernav %}{% endblock %}
	</nav>
      </header>
    </div>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}
    <div class="footer-container">
      <footer class="wrapper">
	<h3>FancyGuy Technologies &copy; 2001-2015</h3>
      </footer>
    </div>
  {% endblock %}
{% endblock %}
